absl-py==2.3.1
accelerate==1.10.1
apache-beam==2.54.0
array_record==0.8.1
astunparse==1.6.3
attrs==25.3.0
beautifulsoup4==4.13.5
cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
chex==0.1.90
click==8.2.1
cloudpickle==2.2.1
coacd==1.0.7
crcmod==1.7
dill==0.3.1.1
distrax==0.1.5
dm-reverb==0.14.0
dm-tree==0.1.9
dnspython==2.8.0
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.17.0
einops==0.8.1
etils==1.13.0
Farama-Notifications==0.0.4
fastavro==1.12.0
fasteners==0.20
filelock==3.19.1
flatbuffers==25.2.10
flax==0.8.1
fonttools==4.60.0
fsspec==2025.9.0
gast==0.6.0
gdown==5.2.0
gin-config==0.5.0
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-pasta==0.2.0
grpcio==1.74.0
gym==0.23.0
gymnasium==1.2.0
gym-notices==0.1.0
h5py==3.14.0
hdfs==2.7.3
hf-xet==1.1.10
httplib2==0.22.0
huggingface-hub==0.35.0
idna==3.10
immutabledict==4.2.1
importlib_resources==6.5.2
ipython==8.22.2
jax==0.4.34
jaxlib==0.4.34
Jinja2==3.1.6
Js2Py==0.74
jsonpickle==3.4.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keras==2.15.0
libclang==18.1.1
loguru==0.7.3
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapy==1.2.0
imageio==2.37.2
ml_collections==1.1.0
ml-dtypes==0.2.0
mpmath==1.3.0
msgpack==1.1.1
munkres==1.1.4
narwhals==2.5.0
networkx==3.4.2
# packaging and ninja are installed separately in Dockerfile before flash-attn
oauthlib==3.3.1
objsize==0.7.1
opencv-python==4.11.0.86
optax==0.2.5
opt_einsum==3.4.0
orbax-checkpoint==0.4.4
orjson==3.11.3
peft==0.11.1
pillow==11.3.0
platformdirs==4.4.0
plotly==6.3.0
portpicker==1.6.0
promise==2.3
protobuf==3.20.3
proto-plus==1.26.1
psutil==7.0.0
pyarrow==14.0.2
pyarrow-hotfix==0.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==1.10.23
pydot==1.4.2
pygame==2.1.3
pyjsparser==2.7.1
pymongo==4.15.1
pyparsing==3.2.4
PySocks==1.7.1
PyYAML==6.0.2
regex==2025.9.1
requests==2.32.5
requests-oauthlib==2.0.0
rich==14.1.0
rlds==0.1.8
rpds-py==0.27.1
rsa==4.9.1
rtree==1.4.1
ruckig==0.15.3
safetensors==0.6.2
sapien==2.2.2
sentry-sdk==2.38.0
setproctitle==1.3.7
shtab==1.7.2
smmap==5.0.2
soupsieve==2.8
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-datasets==4.9.4
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.16.1
tensorflow-probability==0.23.0
tensorstore==0.1.45
termcolor==3.1.0
tfds-nightly==4.9.4.dev202403220044
tfp-nightly==0.25.0.dev20240322
toolz==1.0.0
# torch, torchvision, torchaudio are installed separately from PyTorch index in Dockerfile
timm==0.9.10
tokenizers==0.19.1
tqdm==4.67.1
transformers==4.40.1
transforms3d==0.4.2
trimesh==4.8.1
triton==2.2.0
tzlocal==5.3.1
urllib3==2.5.0
wandb==0.19.11
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.14.2
zstandard==0.25.0
